@model CourseCreateViewModel;

<div class="container">
    <h2>Yangi kurs yaratish</h2>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Title">Kurs nomi</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">Tavsif</label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId">Kategoriya</label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">
                <option disabled value="">-- Kategoriyani tanlang --</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price">Narx</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="CoverImage">Kurs rasmi</label>
            <input type="file" asp-for="CoverImage" class="form-control" />
            <span asp-validation-for="CoverImage" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Davom etish</button>
    </form>
</div>