bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/VideoUz/v17/DocumentLayout.json
.vs/VideoUz/v17/DocumentLayout.backup.json
.vs/VideoUz/v17/.suo
.vs/VideoUz/FileContentIndex/d4392267-5f63-498a-98e8-db559be8e1a4.vsidx
.vs/VideoUz/FileContentIndex/3f23d963-8de9-47c3-84f1-3bc1b6e44ee0.vsidx
.vs/VideoUz/FileContentIndex/3695bcbc-84a3-4c8b-926e-9231bf15080b.vsidx
.vs/VideoUz/FileContentIndex/3292bb2b-d84e-4ff2-ace3-7d5c58cc752b.vsidx
.vs/VideoUz/FileContentIndex/29aad6ce-9e2f-4358-9377-abed06e5798c.vsidx
.vs/VideoUz/DesignTimeBuild/.dtbcache.v2
.vs/VideoUz/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
.vs/VideoUz/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
.vs/VideoUz/CopilotIndices/17.13.433.20974/SemanticSymbols.db
.vs/VideoUz/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
.vs/VideoUz/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
.vs/VideoUz/CopilotIndices/17.13.433.20974/CodeChunks.db
