<div class="p-4">
    <h2> Categories </h2>
    <button type="button" class="btn btn-primary actions" onclick="createRecord()">Create</button>
    <table class="table table-striped table-bordered mt-2">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody id="categories">
        
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $(function (){
            getCategories();
        })
        
        function getCategories(){
            $.ajax({
                url : "@Url.Action("GetAllCategories", "Admin")",
                type:"GET",
                success: function (data){
                   
                    if (data.isSuccess){
                        $('#categories').empty();
                        data.result.map((item,  index) => {
                            const row = `<tr id="trid_${index}"> 
                             <td> ${index} </td> 
                             @*<td> ${item.name}</td>  *@
                              </tr>`
                            $('#categories').append(row);
                            displaytablerow("display", index , item.id , item.name , item.description);
                        });
                    }
                    else {
                        toastr.options = {
                            "positionClass": "toast-top-left",
                            "timeOut": "1000"
                        };
                        toastr.error(` ${xhr.status} - ${data.message}`);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.options = {
                        "positionClass": "toast-top-left", 
                        "timeOut": "1000"
                    };
                    toastr.error(` ${xhr.status} - ${thrownError}`, "So'rov bajarilmadi");
            }
            })
        }

        function displaytablerow(mode, index , id , name , description) {
             $('#trid_' + index).empty();
             let innerHtml = "";
             innerHtml += `<td>${id}</td>`;
             if (mode == 'display'){
                 $('.actions').prop('disabled', false);
                 innerHtml += `<td>`;
                 innerHtml += `<input id="input_${index}" type="text" value="${name}" class="form-control" disabled>`;
                 innerHtml += `</td>`;
                 innerHtml += `<td>`;
                 innerHtml += `<input id="input_description${index}" type="text" value="${description}" class="form-control" disabled>`;
                 innerHtml += `</td>`;
                 innerHtml += `<td>`;
                 innerHtml += `<button onclick="displaytablerow('edit' , ${index}, ${id}, '${name}', '${description}')" class="btn btn-warning text-white me-2 actions"> Edit </button>`
                 innerHtml += `<button onclick="deleteRecord(${id})" class="btn btn-danger text-white me-2 actions"> Delete </button>`
                 innerHtml += `</td>`;
             }
             else if(mode == 'edit'){
                 $('.actions').prop('disabled', true);
                 innerHtml += `<td>`;
                 innerHtml += `<input id="input_${index}" type="text" value="${name}" class="form-control">`;
                 innerHtml += `</td>`;
                 innerHtml += `<td>`;
                 innerHtml += `<input id="input_description${index}" type="text" value="${description}" class="form-control" >`;
                 innerHtml += `</td>`;
                 innerHtml += `<td>`;
                 innerHtml += `<button onclick="save(${index}, ${id})" class="btn btn-success text-white me-2 "> Save </button>`
                 innerHtml += `<button onclick="displaytablerow('display' , ${index}, ${id}, '${name}', '${description}')" class="btn btn-warning text-white"> Cancel </button>`
                 innerHtml += `</td>`;
             }
             console.log('#trId_' + index);
            $('#trid_' + index).append(innerHtml);
        }
        
        function createRecord(){
            $('.actions').prop('disabled', false);
            let index = $('#categories tr').length;
            let innerHtml = '';
            innerHtml += `<tr id="trid_${index}">`;
            innerHtml += `<td> ${index + 1} </td>`;
            innerHtml += `<td>`;
            innerHtml += `<input id="input_${index}" type="text" class="form-control">`;
            innerHtml += `<span id="validationTextId_${index}" class="text-danger" > </span>`;
            innerHtml += `</td>`;
            innerHtml += `<td>`;
            innerHtml += `<input id="input_description${index}" type="text" class="form-control">`;
            innerHtml += `<span id="validationTextId_description${index}" class="text-danger" > </span>`;
            innerHtml += `</td>`;
            innerHtml += `<td id="tdActionId_${index}">  </td>`;
            $('#categories').append(innerHtml);
            const $tdactionid = $('#tdActionId_'+ index);
            let saveButton = `<button  onclick="save(${index}, ${0})" class="btn btn-success text-white me-2">Save</button>`;
            let cancelButton = `<button  class="btn btn-warning text-white">Cancel</button>`;
            $tdactionid.append(saveButton, cancelButton);
        }


        function deleteRecord(Id) {
            $.ajax({
                url: '@Url.Action("Delete", "Admin")' + '?id=' + Id,
                type: 'DELETE', 
                success: function (response) {
                    getCategories();
                    displaynotification(response.isSuccess, response.title, response.message, 'toastr');
                },
                error: function (xhr, status, error) {
                    displaynotification(false, response.title, response.message, 'toastr');
                }
            });
        }


        function save(index, id) {
            const name = $('#input_' + index).val();
            const description = $('#input_description' + index).val();
            let model = {
                id,
                name,
                description
            };

            $.ajax({
                url: "@Url.Action("AddorEditCategory")",
                type: 'POST',
                data: model,
                success(response) {
                    toastr.options = {
                        "positionClass": "toast-top-right",
                        "timeOut": "2000"
                    };
                    getCategories();
                    displaynotification(response.isSuccess, response.title, response.message, 'toastr');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.options = {
                        "positionClass": "toast-top-right",
                        "timeOut": "2000"
                    };
                    displaynotification(false, response.title, response.message, 'toastr');
                }
            })
        }
    </script>
   
}


