<div class="alert alert-dismissible alert-danger">
    <strong> Acces denied </strong>
    <p> You are not authorized to view this page</p>
</div>
<a class="btn btn-secondary btn-lg" asp-controller="Home" asp-action="Index">Home</a>